@import './vars.scss';

@mixin base-font($weight: 400) {
  font-family: 'Inter' , sans-serif;
  font-weight: $weight;
}

@mixin flex-column($main-axis, $second-axis) {
  display: flex;
  flex-direction: column;
  justify-content: $main-axis;
  align-items: $second-axis;
}

@mixin flex-row($main-axis:start, $second-axis:start) {
  display: flex;
  flex-direction: row;
  justify-content: $main-axis;
  align-items: $second-axis;
}

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin pseudo {
  content: '';
  position: absolute;
}

@mixin visually-hidden-mixin {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden {
  @include visually-hidden-mixin;
}

@mixin text-truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@mixin font-600-20 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
@mixin font-600-18 {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}
@mixin font-500-20 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
@mixin font-500-18 {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}
@mixin font-400-24 {
  font-size: 24px;
  line-height: 30px;
}
@mixin font-400-22 {
  font-size: 22px;
  line-height: 26px;
}
@mixin font-400-20 {
  font-size: 20px;
  line-height: 24px;
}