// breakpoint
$mobile: 576px;
$mobile-small: 375px;
$tablet-portrait: 768px;
$tablet-landscape: 1024px;
$container: 1365px;
$desktop: 1440px;

// colors

// fonts
$font-family: "General Sans";

// other
$transition: 300ms;
